<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="icon" href="../assets/images/icon.png" type="image/png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
  <link rel="stylesheet" type="text/css" href="/assets/home.css" />
  <link rel="stylesheet" type="text/css" href="/assets/forms.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

  <!--Backend Info-->
  <div>
    <p id="user" style="display: none">
      <%= user %>
    </p>
    <p id="CURRENT_URL" style="display: none">
      <%= url %>
    </p>
  </div>

  <!--Header-->
  <%- include('partials/header.ejs') %>

  <!--Navbar--> 
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile">Profile</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="/user/signout">Logout</a>
          </li>
        </ul>
      </div>
  
      <a class="navbar-brand ms-auto d-lg-inline d-none">

        <div>Hello <%= locals.name %></div>
        <div id="navbar_right_i"><img src="<%=locals.image%>">

      </a>
  
    </div>
  </nav>

  <!--Requests, Certificate And Donation-->

  <div class="container mb-3 scroll-bar-primary">

    <div class="row">

      <!--Requests-->
      
      <div class="col left-col details-box mt-3">
          <div class='details-heading row mx-0'>
            <div class="col-6 custom-title"><h4>YOUR DUES</h4></div>
      
            <div class="col-6 custom-buttons d-flex justify-column-center align-items-center">
              <button type="button" class="btn btn-light mx-1 " onclick="createIpRequest()"> <i class="bi bi-plus-circle"></i> IP Request</button>
              <button type="button" class="btn btn-light mx-1" onclick="createBtpRequest()"> <i class="bi bi-plus-circle"></i> BTP Request</button>
            </div>
          </div>
      
          <div class="accordion requests-list">
          </div>
      
      </div>

      
      <!--Certificates and Donation-->
      <div class="col-md-auto mt-3 d-flex flex-column align-items-center justify-content-start">
        
        <!--Certificate-->
        <button type="button" id="downloadbtn" class="btn btn-outline-primary mt-3">GET CERTIFICATE <i class="bi bi-box-arrow-in-up-right" aria-hidden="true"></i></button>

        <!--Donation-->
        <div class='details-box mt-3'>
          <div class='details-heading text-center'>            
            <h4> DONATION (IF ANY)</h4> 
            <!-- <sub> You Can Save Only Once</sub>           -->
          </div>
          <div class='details-info'>  
            <form onsubmit="submitDonationForm(event)">
              <fieldset id="donationDetails">
                <div class="form-row px-5">
                  <div class="col mt-3 mx-3">
                    <label class="inp" for="donationAdmin">
                      <select name="donationAdmin" id="donationAdmin" class='form-control' required>
                      </select>
                      <span class="label">Choose Department</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                  <div class="col mt-3 mx-3">
                    <label class="inp" for="securityAmount">
                      <input placeholder="" id="securityAmount" type="number" class='form-control' value="10000" disabled>
                      <span class="label">Security Amount</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                  <div class="col mt-3 mx-3">
                    <label class="inp" for="donationAmount">
                      <input placeholder="" id="donationAmount" type="number" class='form-control' max='10000' min='1' required>
                      <span class="label">Donation Amount</span>
                      <span class="focus-bg"></span>
                    </label>
                  </div>
                </div>
                <center><button id='submitDonationDetails' type='submit' class='mt-4 submit-btn'>SAVE</button></center>
              </fieldset>
            </form> 
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <!--Footer-->
  <%- include('partials/footer.ejs') %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"   integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="../assets/layout.js"></script>
  <script src="../assets/home.js"></script>  
  <script>
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
    <% if (flash.success && flash.success.length > 0) { %>
        new Noty({
          theme: 'metroui',
          text: "<%= flash.success %>",
          type: 'success',
          layout: 'topRight',
          timeout: 1500
        }).show();
        <% } %>
  </script>
</body>

</html>