<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/home.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    </head>
    <body>
      <!-- modal starts -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h4><strong>Enter your bank details below.</strong></h4>
          <label for="bankName">Enter your Bank name</label>
          <input type="text" id="bankName" name="firstname" placeholder="Bank name..">
          <p class="warning" id="bankNameWarning">*Don't leave it empty.</p>
          <label for="bankBranch">Enter your Bank branch</label>
          <input type="text" id="bankBranch" name="firstname" placeholder="Branch name..">
          <p class="warning" id="bankBranchWarning">*Don't leave it empty.</p>
          <label for="bankAccountHolder">Enter Account Holder Name</label>
          <input type="text" id="bankAccountHolder" name="firstname" placeholder="Account Holder Name..">
          <p class="warning" id="bankAccountHolderWarning">*Don't leave it empty.</p>
          <label for="bankAccountNo">Enter your Account No.</label>
          <input type="text" id="bankAccountNo" name="firstname" placeholder="Account no..">
          <p class="warning" id="bankAccountNoWarning">*Don't leave it empty.</p>
          <label for="bankIfscCode">Enter your IFSC code</label>
          <input type="text" id="bankIfscCode" name="firstname" placeholder="IFSC code..">
          <p class="warning" id="bankIfscCodeWarning">*Don't leave it empty.</p>
          <input type="submit" value="Submit" id="submitBankDetailsForm">
        </div>
      </div>

      <div id="myModal1" class="modal1">
        <div class="modal-content1">
          <span class="close1">&times;</span>
          <h4><strong>Enter your personal details below.</strong></h4>
          <label for="personalMobile">Enter your Mobile number</label> <br>
          <input type="text" id="personalMobile" name="personalMobile" placeholder="+91-XXXXXXXXXX"> <br>
          <p class="warning" id="personalMobileWarning">*Don't leave it empty.</p>
          <label for="personalEmail">Enter your Personal email(non-iiitd)</label>
          <input type="text" id="personalEmail" name="personalEmail" placeholder="abc@xyz.com"> <br>
          <p class="warning" id="personalEmailWarning">*Don't leave it empty.</p>
          <label for="leavingDate">Enter date of leaving</label>
          <input type="date" id="leavingDate" name="leavingDate" placeholder="DD-MM-YYYY"> <br>
          <p class="warning" id="leavingDateWarning">*Don't leave it empty.</p>
          <label for="completed">Completed</label>
          <input type="radio" id="completed" name="reason" value="Completed"><br>
          <label for="withdrawal">Withdrawal</label>
          <input type="radio" id="withdrawal" name="reason" value="Withdrawal"><br>
          <p class="warning" id="leavingReasonWarning">*Don't leave it empty.</p>
          <input type="submit" value="Submit" id="submitPersonalDetailsForm">
        </div>
      </div>
      
      <!-- modal ends -->
        <p id="user" style="display:none"><%= user %></p>
        <p id="admins" style="display:none"><%= admins %></p>
        <p id="CURRENT_URL" style="display:none"><%= url %></p>
        <div id="navbar">
            <div id="navbar_left">
                <div id="navbar_left_i"><img src="/assets/nd.png"/></div>
                <div id="navbar_left_p">No Dues</div>
                <div class="dropdown">
                    <span class='icon-down'></span>
                    <div class="dropdown-content">
                        <a href="/user/signout">Logout</a> <br><hr>
                        <a id="downloadbtn">Download</a> <br><hr>
                        <a id="uploadBankDetails">Bank Details</a> <br><hr>
                        <a id="uploadPersonalDetails">Personal Details</a>
                    </div>
                </div>
            </div>
            <div id="navbar_right">
                <div id="navbar_right_p">Hello <%= locals.name %></div>
                <div id="navbar_right_i"><img src=<%= locals.image%> /></div>
            </div>
        </div>
        <div id="main">
            <div class="container">
                <h2>Departments for No-Dues</h2>
                <div class="accordion" id="admins_list_container">
                  <!-- <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">Design Lab</span>
                        <i class="fas fa-share request" onclick="request(event)"></i>
                        <i class="fas fa-dot-circle send_request designLabSymbol statusSymbol"></i>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Abhijeet Mishra [B-003 (R&D Block)]</p>
                        <p id="designLabMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">Library</span>
                        <i class="fas fa-share request" onclick="request(event)"></i>
                        <i class="fas fa-dot-circle send_request librarySymbol statusSymbol"></i>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Rajendra Singh [Library office]</p>
                        <p id="libraryMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">Admin Facilities</span>
                        <i class="fas fa-share request" onclick="request(event)"></i>
                        <i class="fas fa-dot-circle send_request adminFacilitiesSymbol statusSymbol"></i>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Sanjay Ray [BMS 2<sup>nd</sup> floor]</p>
                        <p id="adminFacilitiesMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">System Admin & Networking</span>
                        <i class="fas fa-share request" onclick="request(event)"></i>
                        <i class="fas fa-dot-circle send_request systemAdminSymbol statusSymbol"></i>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Abhinav Saxena [B-105 (Old Acad)]</p>
                        <p id="systemAdminMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                      <span class="accordion-title">Officer Sports & Student Facilities</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request sportsSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Ravi Bhasin [A-207-1 (Old Acad)]</p>
                        <p id="sportsMessage" class="message">You once have been found guilty of breaking a cricket bat and you have to pay Rs 600.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-6" aria-expanded="false">
                      <span class="accordion-title">Hostel</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request hostelSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Ravi Bhasin [A-207-1 (Old Acad)]</p>
                        <p id="hostelMessage" class="message">There are no comments from the admin of this department..</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-7" aria-expanded="false">
                      <span class="accordion-title">Junior Research Engineer(ECE Labs)</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request eceLabsSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Rahul Gupta [B-304/5/2 (LHC)]</p>
                        <p id="eceLabsMessage" class="message">You have issued an arduino and haven't returned it.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-8" aria-expanded="false">
                      <span class="accordion-title">Placement in-charge</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request placementSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Rashmil Mishra [B-311 (LHC)]</p>
                        <p id="placementMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-9" aria-expanded="false">
                      <span class="accordion-title">Incubation center</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request incubationSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Geeta Gupta [Student center]</p>
                        <p id="incubationMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-10" aria-expanded="false">
                      <span class="accordion-title">Finance & Accounts</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request financeSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Admin - Varsha Aggarwal</p>
                        <p id="financeMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-11" aria-expanded="false">
                      <span class="accordion-title">Academics</span>
                      <i class="fas fa-share request" onclick="request(event)"></i>
                      <i class="fas fa-dot-circle send_request academicsSymbol statusSymbol"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Academics - Nisha Aggarwal(B.Tech), Ashutosh Brahma(M.Tech), Priti Patwal(Ph.D.)</p>
                        <p id="academicsMessage" class="message">There are no comments from the admin of this department.</p>
                    </div>
                  </div> -->
                  <!-- <div class="accordion-item">
                    <button id="accordion-button-11" aria-expanded="false">
                      <span class="accordion-title">BTP / Scholarly Paper / Thesis</span>
                      <i class="fas fa-share request" id="btp_sendRequest"></i>
                      <i class="fas fa-dot-circle send_request btp_signal"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <label for="proffs">Choose professor:</label>
                        <select name="proffs" id="btp_proff">
                          <option value="None">None</option>
                          <option value="Raghava Mutharaju">Raghava Mutharaju</option>
                        </select>
                        <p id="btp_comment">There are no comments from the professor.</p>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <button id="accordion-button-11" aria-expanded="false">
                      <span class="accordion-title">IP / IS / UR</span>
                      <i class="fas fa-share request" id="ip_sendRequest"></i>
                      <i class="fas fa-dot-circle send_request ip_signal"></i>
                      <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <label for="proffs">Choose professor:</label>
                        <select name="proffs" id="ip_proff">
                          <option value="None">None</option>
                          <option value="Raghava Mutharaju">Raghava Mutharaju</option>
                        </select>
                        <p id="ip_comment">There are no comments from the professor.</p>
                    </div>
                  </div> -->
                </div>
              </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="../assets/home.js"></script>
        <script>
          <% if (flash.success && flash.success.length>0){ %>
            new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'topRight',
              timeout: 1500
            }).show();
          <% } %>
        </script>
    </body>
</html>