<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
       
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/home.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
    </head>
    <body>
      <!-- modal starts -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h4><strong>Enter your bank details below.</strong></h4>
          <label for="bankName">Enter your Bank name</label>
          <input type="text" id="bankName" name="firstname" placeholder="Bank name..">
          <p class="warning" id="bankNameWarning">*Don't leave it empty.</p>
          <label for="bankBranch">Enter your Bank branch</label>
          <input type="text" id="bankBranch" name="firstname" placeholder="Branch name..">
          <p class="warning" id="bankBranchWarning">*Don't leave it empty.</p>
          <label for="bankAccountHolder">Enter Account Holder Name</label>
          <input type="text" id="bankAccountHolder" name="firstname" placeholder="Account Holder Name..">
          <p class="warning" id="bankAccountHolderWarning">*Don't leave it empty.</p>
          <label for="bankAccountNo">Enter your Account No.</label>
          <input type="text" id="bankAccountNo" name="firstname" placeholder="Account no..">
          <p class="warning" id="bankAccountNoWarning">*Don't leave it empty.</p>
          <label for="bankIfscCode">Enter your IFSC code</label>
          <input type="text" id="bankIfscCode" name="firstname" placeholder="IFSC code..">
          <p class="warning" id="bankIfscCodeWarning">*Don't leave it empty.</p>
          <input type="submit" value="Submit" id="submitBankDetailsForm">
        </div>
      </div>

      <div id="myModal1" class="modal1">
        <div class="modal-content1">
          <span class="close1">&times;</span>
          <h4><strong>Enter your personal details below.</strong></h4>
          <label for="personalMobile">Enter your Mobile number</label> <br>
          <input type="text" id="personalMobile" name="personalMobile" placeholder="+91-XXXXXXXXXX"> <br>
          <p class="warning" id="personalMobileWarning">*Don't leave it empty.</p>
          <label for="personalEmail">Enter your Personal email(non-iiitd)</label>
          <input type="text" id="personalEmail" name="personalEmail" placeholder="abc@xyz.com"> <br>
          <p class="warning" id="personalEmailWarning">*Don't leave it empty.</p>
          <label for="leavingDate">Enter date of leaving</label>
          <input type="date" id="leavingDate" name="leavingDate" placeholder="DD-MM-YYYY"> <br>
          <p class="warning" id="leavingDateWarning">*Don't leave it empty.</p>
          <label for="completed">Completed</label>
          <input type="radio" id="completed" name="reason" value="Completed"><br>
          <label for="withdrawal">Withdrawal</label>
          <input type="radio" id="withdrawal" name="reason" value="Withdrawal"><br>
          <p class="warning" id="leavingReasonWarning">*Don't leave it empty.</p>
          <input type="submit" value="Submit" id="submitPersonalDetailsForm">
        </div>
      </div>
      
      <!-- modal ends -->
        <p id="user" style="display:none"><%= user %></p>
        <p id="CURRENT_URL" style="display:none"><%= url %></p>
        <div id="navbar">
            <div id="navbar_left">
                <div id="navbar_left_i"><img src="/assets/nd.png"/></div>
                
                <div class="dropdown">
                    <div id="navbar_left_p">No Dues</div>
                    <span class='icon-down'></span>
                    <div class="dropdown-content">
                        <a href="/user/signout">Logout</a> <br><hr>
                        <a id="downloadbtn">Download</a> <br><hr>
                        <a id="uploadBankDetails">Bank Details</a> <br><hr>
                        <a id="uploadPersonalDetails">Personal Details</a>
                        <br>                        
                    </div>
                </div>
            </div>
            <div id="navbar_right">
                <div id="navbar_right_p">Hello <%= locals.name %></div>
                <div id="navbar_right_i"><img src=<%= locals.image%> /></div>
            </div>
        </div>
        <div id="main">
            <div class="container">
                <h2>DEPARTMENTS FOR NO-DUES</h2>
                <br>
                <h3> Total Dues Cleared: <span id="countCleared"></span> / <span id="countAll"></span></h3>
                
                <div class="accordion" id="admins_list_container">
                </div>
                <button class="addButton" onclick="createIpRequest()">Add IP Request</button>
                <button class="addButton" onclick="createBtpRequest()">Add BTP Request</button>
                

                
            </div>
            
        </div>
      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="../assets/home.js"></script>
        <script>
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
          
          
          <% if (flash.success && flash.success.length>0){ %>
            new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'bottomRight',
              timeout: 1500
            }).show();
          <% } %>
        </script>
    </body>
</html>