<!DOCTYPE html>
<html>
    <head>
        <title>Final receipt</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/pdf.css"/>
    </head>
    <body>
        <p id="user" style="display:none"><%= user %></p>
        <p id="admins" style="display:none"><%= admins %></p>
        <h3>No-Dues Form for students</h3>
        <hr>
        <div id="details">
            <p><strong>Name of the student:</strong> <%= JSON.parse(user).name %> &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; <strong>Roll no:</strong> <%= JSON.parse(user).roll %> &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; <strong>Programme:</strong> <%= JSON.parse(user).degree %> </p>
            <p><strong>Phone No.:</strong> <%= JSON.parse(user).mobile %> &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; <strong>E-mail(other than IIITD):</strong> <%= JSON.parse(user).other_email %></p>
            <p><strong>Date of leaving IIITD:</strong> <%= JSON.parse(user).date_of_leaving %> &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp; <strong>Reason of leaving program:</strong> <%= JSON.parse(user).reason_of_leaving %> </p>
        </div>
        <hr>
        <div id="table">
            <table>
                <tr>
                    <th>Sl. No.</th>
                    <th>Department / Cell / Section</th>
                    <th>Office</th>
                    <th>Dues</th>
                    <th>Signature</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Design Lab</td>
                    <td>B-003(R&D Block)</td>
                    <td>No</td>
                    <td>Abhijeet Mishra</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Library</td>
                    <td>Library Office</td>
                    <td>No</td>
                    <td>Rajendra Singh</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Admin Facilities</td>
                    <td>BMS 2<sup>nd</sup> Floor</td>
                    <td>No</td>
                    <td>Sanjay Ray</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Research & Project</td>
                    <td>A-108(Old Acad)</td>
                    <td>No</td>
                    <td>N.A.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>System Admin & Networking</td>
                    <td>B-105(Old Acad)</td>
                    <td>No</td>
                    <td>Abhinay Sharma</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Sports & Student Facilities</td>
                    <td>A-207-1(Old Acad)</td>
                    <td>No</td>
                    <td>Ravi</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Hostel</td>
                    <td>A-207-1(Old Acad)</td>
                    <td>No</td>
                    <td>Ravi</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>ECE Labs</td>
                    <td>B-003(R&D Block)</td>
                    <td>No</td>
                    <td>Rahul Gupta</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>PlacementIn-charge</td>
                    <td>311(LHC)</td>
                    <td>No</td>
                    <td>Rashmil Mishra</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Incubation Center</td>
                    <td>Student Center</td>
                    <td>No</td>
                    <td>Geeta Gupta</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>BTP/Scholarly Paper/Thesis</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>IP/IS/UR</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Finance & Accounts</td>
                    <td>NA</td>
                    <td>No</td>
                    <td>Varsha</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Academics</td>
                    <td>NA</td>
                    <td>No</td>
                    <td>Nisha Narwal</td>
                </tr>
            </table>
        </div>
        <hr>
        <div id="refund">
            <h3>Request for refund of caution money(mention the amount you have paid):</h3>
            <p>Caution money: ___________ &emsp;&emsp;&emsp;&emsp; Hostel Security(if any): ___________</p>
            <p>I request that the aount of caution money (Including Hostel Security(if any))
                may be refunded to me by bank transfer to my below mentioned A/C. [Alumni fee of &#x20B9; 2000/- 
                (if not paid earlier), Convocation Fee of &#x20B9; 1500/- and donation amount mentioned in the
                Google form will be deducted and remaining amount will be transferred]
            </p>
            <p>Bank Name and branch: <span class="underline"><%= JSON.parse(user).bankName %>, <%= JSON.parse(user).bankBranch %></span> </p>
            <p>Account No.: <span class="underline"><%= JSON.parse(user).bankAccountNo %></span> </p>
            <p>IFSC Code: <span class="underline"><%= JSON.parse(user).bankIfscCode %></span> </p>
            <p><strong>(Please attach a cancelled cheque for oyur bank account)</strong></p>
            <br>
            <p>Date: <span id="date" class="underline"></span> </p>
            <p>Signature of the student: <span class="underline"><%= JSON.parse(user).name %></span> </p>
        </div>
        <hr>
        <div id="officeUse">
            <p><strong>DM (F&A): </strong>As per the authentication obtained from different departments/sections
            , nothing is DUE with the student. His/her caution deposit(s) and other reimbursements
            (if any) may be released and the account shall be settled in full & final.</p>
            <br>
            <br>
            <strong>Registrar</strong>
        </div>
        <script src="/js/pdf.js" type="text/javascript"></script>
    </body>
</html>