<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="../assets/images/icon.png" type="image/png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/super_admin.css" />
    <link rel="stylesheet" type="text/css" href="/assets/updateAccess.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  </head>

  <body>
    <p id="adminName" style="display: none"><%= adminName %></p>
    <p id="id" style="display: none"><%= id %></p>
    <p id="CURRENT_URL" style="display: none"><%= url %></p>
    <p id="studentURL" style="display: none">
      <%= studentURL %>
    </p>
    <p id="adminURL" style="display: none">
      <%= adminURL %>
    </p>
    <p id="professorURL" style="display: none">
      <%= professorURL %>
    </p>

    <%- include('partials/header.ejs') %>

    <div id="navbar">

      <div id="navbar_left">
        <div id="navbar_left_i"><img src="/assets/nd.png" /></div>

        <div class="dropdown" id="navbar_left_p">
          <div >No Dues</div>
          <span class="icon-down"></span>
          <div class="dropdown-content">
            <a href="/super_admin" id="superAdminHome">Home</a>
            <a href="/super_admin/adminRequests" id="adminRequests">Requests to Admins</a>
            <a href="/super_admin/updateAccess">Update Access</a>
            <!-- <a id="blockPortal">Block Portal</a>            -->
            <a id="sheet">Show Sheet</a>
            <a href="/user/signout">Logout</a>
          </div>
        </div>
      </div>

      <div id="navbar_right">
        <div id="navbar_right_p">Hello Super Admin</div>
        <div id="navbar_right_i">
          <img src="<%=locals.user.image%>">
        </div>
      </div>

    </div>

    <div id="main">
      <div class="container" style="width: 80vw; min-height: 70vh">
        <h2 style="margin-bottom: 20px">Update Access</h2>

        <div class="d-flex align-items-center justify-content-center" , style="margin-bottom: 10px" , data-aos="fade-up" ,
            data-aos-delay="100" ,>

            <nav class="navbar navbar-expand ">            
            
              <div class="" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"  id="admin">Admins</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  id="professor">Professors</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  id="student">Students</a>
                  </li>
                  
                </ul>
              </div>
            </nav>

        </div>



        <div
          class="d-flex align-items-center justify-content-center",
          style="margin-bottom: 10px",
          data-aos="fade-up",
          data-aos-delay="100",
        >

        <button id="updateAccess" class='btn btn-outline-info mr-3 data-toggle="button" aria-pressed="false" autocomplete="off"'> Save Changes</button>
        <button id="sheetAccess" class='btn btn-outline-info ml-3 data-toggle="button" aria-pressed="false" autocomplete="off" '> Open Sheet</button>
          
        </div>

        <div class="accordion">
          <center>
          <iframe  id='excel' display="block" height="450" width="100%" overflow="auto"></iframe>
          </center>

          
        </div>


      </div>
    </div>
    <%- include('partials/footer.ejs') %>
    <script src="../assets/updateAccess.js"></script>
    <script src="../assets/layout.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script>
        <% if (flash.success && flash.success.length > 0) { %>
      new Noty({
        theme: 'metroui',
        text: "<%= flash.success %>",
        type: 'success',
        layout: 'topRight',
        timeout: 1500
      }).show();
        <% } %>
    </script>
  </body>
</html>
